#text-input {
  .title {
    margin-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
    justify-content: left !important;
  }
  input {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    width: 300px !important;
  }
}

