.module {
  margin: 0 0 10px 0;
  padding: 5px;
  color: #777;
  background: #eeeeee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.module > .inner {
  padding: 8px;
  border: 1px solid #ddd;
  background: #fafafa;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.module h2 {
  margin: 0 0 8px -8px;
  width: 100%;
  padding: 0 8px 8px 8px;
  font-size: 12px;
  color: #333;
  border-bottom: 1px solid #ddd;
}
.module h2 a.seemore {
  float: right;
  margin-top: -2px;
  padding: 2px 5px;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  background: #eee;
  border: 1px solid #eee;
  border-top: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.module h2 a.seemore:hover {
  background: #fff;
}

.module h2 + p {
  margin-top: 0;
}
.module p:last-child {
  margin-bottom: 0;
}

.module p.note {
  font-size: 11px;
}

.module em.paren-note {
  font-style: normal;
  color: #444;
}

.module h3 {
  margin: 0 0 -0.75em 0;
  font-size: 12px;
}

/* Highlighted Module */

.module.highlighted {
  background-color: #edeee1;
}
.module.highlighted > .inner {
  border-color: #e5e4d7;
  background-color: #fffeef;
}
